<div class="create">
  <a href="<%= url('/new') %>">shorten a link &rarr;</a>
</div>

<h2>My Links</h2>

<div class="links">
  <% @links.each do |link| %>
    <div class="link">
      <img src="/redirect_icon.png"/>
      <div class="info">
        <div class="visits"><span class="count"><%= link.visits %></span>Visits</div>
        <div class="title"><%= link.title %></div>
        <div class="original"><%= link.url %></div>
        <a href="<%= @base_url %>/<%= link.code %>"><%= @base_url %>/<%= link.code %></a>
      </div>
    </div>
  <% end %>
</div>

